body {

    font-family: 'Oswald', sans-serif;

}

.heading {
    color: #272727;

    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.paragraph {
    color: #27272799;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    border-radius: 10px;
    background: #E55473;
    font-size: 20px;
    color: white;
    padding: 15px 30px;
    align-items: flex-start;
    border: 0;
}

.container {
    margin: 0px 240px;
    display: flex;

}

.flow1 {
    width: 380px;
    float: right;
}


.headath {
    background: rgba(229, 84, 115, 0.10);

}



/* section style type */

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 50px 764px 0px;
}

.title-description {
    text-align: center;
    padding: 0px 660px ;
    width: 594px;
}

/* hot deal section */
.flow2 {
    float: right;
    width: 380px;
    margin: 0px 150px 50px 100px;

}

.hot-deal {
    display: flex;
    margin: 230px 420px 0px 423px;
    font-size: 25px;

}

.offer-color {
    color: #E55473;
}

.title-description2 {
    width: 594px;
}

/* third part */

.insta{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 50px 764px 0px;
   
}
.insta-description{
    text-align: center;
    padding: ;
}
.image-container{

    display: flexbox;
    padding: 40px 200px 200px;
    

}
.one, .two, .three{
 margin-right: 25px;
}

/* fourth part */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imageclass {
    text-align: center;
    position: relative;
  }
  
  .context {
    color: #272727;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  .context h5 {
    margin-top: 5px;
  }
  
  .context h1 {
    margin-bottom: 5px;
  }

  .subscribe-form {
    margin-top: 15px;
  }
  
  .sub-form input[type="email"] {
    width: 420px;
    padding: 10px;
    font-size: 16px;
    border: #E55473;
  }
  
  .sub-form button {
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: #E55473;
    margin-left: 10px;

  }
  .footer {
    background-color: #060d0d;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
  }
  
  .flower {
    color: #e55473;

  }
  
  .footer p {
    margin: 10px 0;
  }
  
  .heading-size{
    font-size: 20px;
    margin-bottom: 2px;
  }
  .heading-size2{
    font-size: 12px;
    margin-top: 2px;
  }
  
  .cr {
    font-size: 10px;
  }